<h1>
    Juego Aleatorio:
</h1>
<div>
    Preguntas acertadas = <span id="score"><%= score %></span>
</div>
<!-- Recorremos las preguntas contestas -->
<% for (var i in contestadasPlay) { %>
<% var anteriores = contestadasPlay[i] %>
<!-- Creamos un div para cada id -->
<!--<div>
    IDs y posición de las preguntas contestadas = <span id="score"><%= anteriores %></span> !! 
    <span id="score"><%= contestadasPlay[i] %></span>
</div>-->
<% } %>
<!--<div>
    Has contestado <span id="score"><%= contestadasPlay.length %></span> preguntas
</div>-->
<!-- Recorremos las preguntas contestas -->
<% for (var j in NocontestadasPlay) { %>
<% var siguientes = NocontestadasPlay[j] %>
<!-- Creamos un div para cada id -->
<!--<div>
    IDs y posición de las preguntas que quedan = <span id="score"><%= siguientes %></span> !! 
    <span id="score"><%= NocontestadasPlay[j] %></span>
</div>-->
<% } %>

<!--<div>
    Quedan <span id="score"><%= NocontestadasPlay.length %></span> preguntas
</div>-->
<% var quiz = quiz; %>

<form method="get" action="/quizzes/randomcheck/<%= quiz.id %>">
    <p>
        Pregunta: <b><%= quiz.question %></b>
    </p>
    <div class="wideRow">
        <input type="text" class="itemWide" id="answer" name="answer" value="" placeholder="Respuesta" autocomplete="off"/>
        <input type="submit" class="itemNarrow" id="send" value="Comprobar">
    </div>
</form>

