
<h1>
    Juego Aleatorio:
</h1>

<div>
    Preguntas acertadas = <span id="score"><%= score %></span>
</div>
<% for (var i in contestadasResult) { %>
<% var id = id;%>
<% var anteriores = contestadasResult[i]; %>
<!-- Creamos un div para cada id -->
<!--<div>
    IDs Preguntas anteriores = <span id="score"><%= anteriores %></span>
</div>-->
<% } %>
<!-- Recorremos las preguntas contestas -->
<% for (var j in NocontestadasResult) { %>
<% var siguientes = NocontestadasResult[j]; %>
<!-- Creamos un div para cada id -->
<!--<div>
    IDs Preguntas que quedan = <span id="score"><%= siguientes %></span>
</div>-->
<% } %>
<p>
    La respuesta <strong> <%= answer %> </strong> a la pregunta con id <%= id %> es <%= result ? 'Correcta' : 'Incorrecta' %>.
</p>

<p>
    <% if (!result){ %>
    Has fallado.
    <a href="/quizzes"> FIN </a>
    <% } else { %>
    <% // Metemos la contestada en el array %>
    <% contestadasResult.unshift(id);%>
    <% // Eliminamos la contestada de las no contestadas %>
    <% var posicionEliminada = NocontestadasResult.indexOf(id)%>
    <!--<div>
    Eliminamos la pregunta con id <span id="score"><%= id %></span>, que está en la posicion <strong> <%= posicionEliminada %> </strong> del array de NO CONTESTADAS
    </div  >-->
    <% if(posicionEliminada != -1)  { %>
    <% NocontestadasResult.splice(posicionEliminada,1); %>
    <% } %>
    Has acertado.
    <a href="/quizzes/randomplay"><button>Continuar jugando</button></a>
    <% } %>
</p>

